.container {
  width: 100%; /* Adjust the width as needed */
  
  overflow: auto;
}
.table th {
  background-color: transparent;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

td{
  margin-right: 10px;
}
.mat-mdc-form-field{
  width: 136px;
 
}
.center-dropdown {
  display: flex;
  justify-content: center;
}
