/*-------------------
Sample CSS overwriting main.css rules

[Table of contents]
    0 General layout
        0.1 Body
        0.2 Typography
    1 Header
        1.1 menu icon / .menu-icon
        1.2 menu content / .nav-item 
    2 Footer
    3 Forms and buttons / .form-control-*
    4 Overwritting Background cover of a section / .section .section-cover-full
[Colors]
    Green : #61ffa9;
    Black : #1d1d1d;
[Typography]
    font-family :
    - Serif : "Playfair Display"
*/
@import "variables";

$black : #1d1d1d;
$light-black : #5d5d5d;
$color1 : #3A0075;

/* 0 General layout */
/* 0.1 Body */
body,
.body-page {
    background-color: $white;
    color: $dark-black;
}

/* 0.2 Typography : Uncoment What you need*/
// typography
/* page header */
/* .page-header-alpha .navbar-mainmenu .nav-item{
    font-family: $geo;
    text-transform: none;
    letter-spacing: 0;
}
.section-title .title{
    font-family: $geo;
} */
/* title */
/* .display-title,
.section-home,
.media-service h4,
.section-content h2,
.section-content h3{
    font-family: $geo;
} */
/* small text */
/* .page-header-alpha .navbar-topmenu .navbar-nav-menu .nav-item,
.scrolldown a,
.btn-outline-white,
.btn-outline-black,
.display-subtitle,
.display-condensed,
.btn-divided .b-title
{
    font-family: $geo;
} */


/* 1 Header */
/* 1.1 menu icon / .menu-icon */
.menu-icon{
    border-color: rgba($black, 0.2);
    background: $white;
    &:hover{
        border-color: $black;
    }
    @media (min-width:$large-up) {
        background-color: transparent;
    }
}
.menu-icon .bars .bar1, .menu-icon .bars .bar2, .menu-icon .bars .bar3{
    background: $black;
}
.page-header.content-white{
    .menu-icon{
        border-color: rgba($white, 0.2);
        background: $white;
        &:hover{
            border-color: $white;
        }
    }
    .navbar-sidebar .nav-item.active .icon{
        background: rgba($white, 0.2);
        color: $white;
        border-color: $white;
    }
    .navbar-sidebar .nav-item .icon{
        border-color: rgba($white, 0.2);
        color: $white;
    }
    
}
// .page-cover{
//     &:after{
//         content: "";
//         // background: linear-gradient(to left, #D1335B, #00152e);
//         position: absolute;
//         left: 0;
//         right: 0;
//         top: 0;
//         bottom: 0;
//         opacity: 1;
//         transition: 0.3s;
//     }
//     &.scrolled:after{
//         // background: $black;
//         // background: #0d0d0d;
//         // background: rgba(#000, 0.8);
//         background: rgba(white, 0.9);
//     }
// }
/* 1.2 menu content / .nav-item */
.page-header-alpha .navbar-mainmenu .nav-item a:hover{
    color: $color1;
}   
.page-header-alpha .navbar-sidebar .nav-item.active .icon{
    background: rgba($color1, 0.2);
    color: $color1;
    border-color: $color1;
}
.page-header-alpha .navbar-sidebar .nav-item .icon{
    border-color: rgba($black, 0.2);
    color: $black;
    &:hover{
        color: #5d5d5d;
    }
}

/* 2 Footer */
.page-footer.content-white{
    color: $white;
}

/* 3 Forms and buttons / .form-control- */
// message form
.form-control-outline,
.form-control-line{
    border-color: $black;
    &:focus{
        border-color: #5d5d5d;
    }
}
.form-control-line.form-control-white{
    border-color: $black;
}
.form-group label.error,
.form-container-transparent.form-container-white .form-input label,
.form-container-transparent .form-input input.form-control-line{
    color: $black;
}

/* Buttons / .btn-*/
.btn-outline-white{
    color: currentColor;
    border-color: currentColor;
}
.btn-divided{
    border-color: $color1;
    .b-subtitle{
        color: $color1;
    }
}


/* 4. Overwritting Background cover of a section / .section .section-cover-full */
.section{
    &:nth-child(2n){
        @media (max-width: $medium-up) {
            background: rgba(white, 0.3);
        }
    }
}
/* Home page */
.section-home{
    .home-title{
        color: $color1;
        background-image: $gradient-landscape;
        background-size: cover;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }
}
/* Section title */
.section-title .title{
    color: $color1;
    background-image: $gradient-landscape;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    @media (min-width: $xlarge-up) {
        font-size: 7rem;
    }
}
/* section content */
.section-description:not(.content-white) .section-content .display-title{
    color: $color1;
    background-image: $gradient-landscape;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

/* section service / media service / .media-service */
.media-service{
    h4{
        color: $color1;
        background-image: $gradient-landscape;
        background-size: cover;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }
}
/* section products */
.section-list-products{
    .title-desc{
        h2{
            // color: $color1;
            // background-image: $gradient-landscape;
            // background-size: cover;
            // -webkit-background-clip: text;
            // background-clip: text;
            // -webkit-text-fill-color: transparent;
            // text-fill-color: transparent;
        }
    }
}
/* row product / .row-product */
.row-product{
    &#product-item-1 h3{
        background-image: $gradient-landscape;
        background-size: cover;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }
    &#product-item-2 h3{
        background-image: linear-gradient(to right, #e0dbd5, #5bc3ba);
        background-size: cover;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }
    &#product-item-3 h3{
        background-image: linear-gradient(to right, #ce9367, #5bc3ba);
        background-size: cover;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }
}

/* section-contact */
.section-contact{
    .title-desc .display-title{
        color: $color1;
        background-image: $gradient-landscape;
        background-size: cover;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }
}

/* 5. Item page */
.body-item{
    .menu-icon{
        background: $white;
    }
    .item-detail{
        background: $white;
        color: $black;
    }
}


/* 4. Animation */
@import 'section/section-anim';
